<h1>All Meetups</h1>

<p><a href="/meetups/new">Add a new meetup</a></p>

<ul>
  <% @meetups.each do |meetup| %>
    <li>
      <a href="/meetups/<%= meetup.id %>">
        <%= "#{meetup.name} - #{meetup.location}" %>
      </a>
    </li>
  <% end %>
</ul>
